<template>
	<section id="welcome">
		<div class="pane" id="content-pane">
			<h3>Welcome to Sociogram</h3>
			<p>
				<button class="btn btn-large btn-default" id="create-sociogram">
					<span class="icon icon-plus-squared"></span>
					New
				</button>
				<button class="btn btn-large btn-default" id="open-sociogram">
					<span class="icon icon-folder"></span>
					Open
				</button>
			</p>
		</div>
		<script type="text/javascript">
			require('./sections/welcome.js');
		</script>
	</section>
</template>
