<!DOCTYPE html>
<html>
  <head>
    <title>Sociogram</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../assets/photon/css/photon.min.css">

	<link rel="import" href="./sections/welcome.html" id="welcome-section">
	<link rel="import" href="./sections/create-header.html" id="create-header-section">
	<link rel="import" href="./sections/display-sociogram.html" id="display-sociogram-section">
  </head>

  <body>
		<div class="window">
			<div class="window">
				<div class="window-content" id="content-pane">

				</div>
			</div>
		</div>

	<script type="text/javascript">
		const logic = require('./index.js');
	</script>
	</body>
</html>
